<div class="singleEvent ng-scope">
  <div class="event">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-3" style="line-height:95px;" align="right">
        <img ng-src="https://www.cs.washington.edu/news/KindlePilot/images/uwcselogo.jpg" width="60px">
      </div>
      <div class="col-xs-9">
        <br>
        <h2 class="ng-binding">CSE Startup Companies Career Fair</h2>
        <h4 class="ng-binding">Oct. 25, 2017, Paul G. Allen Center</h4>
      </div>
    </div>
    <div class="row">
      <center>
        <div>
          <button style="margin-right: 5px;" class="go" ng-click="showHidden4 = !showHidden4;showEmail4=false">Details</button>
          <button style="margin-left: 5px;" class="go" ng-click="showEmail4 = !showEmail4;showHidden4=false">Attend</button>
        </div>
      </center>
    </div>
  </div>
  <div class="email ng-hide" ng-show="showEmail4">
    <div class="row">
      <div class="col-xs-8">
        <h1 class="ng-binding">Enter your email</h1>
        <p class="ng-binding">We will send you a reminder before the event and pass it on to recruiters.</p>
      </div>
      <div class="col-sm-4">
        <button class="go-dark" style="float:right; padding: 10px 15px 10px 15px;" ng-click="showEmail4 = !showEmail4">X</button>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-12">
        <form class="form emailForm ng-pristine ng-valid" action="https://docs.google.com/forms/d/e/1FAIpQLSfLotxr1Lno2E128YHqanfIcNcmRJN90D7bEnAKhSyWNmpRvA/formResponse" target="hiddenFrame" method="POST">
          <div class="input-group">
            <input type="text" name="entry.833131861" class="form-control" id="emailField0" placeholder="Email" value="">
            <span class="input-group-addon" aria-describedby="basic-addon2" id="basic-addon2">@cs.uw.edu</span>
            <input type="hidden" name="entry.1026163718" value="CSE Established Companies Career Fair">
          </div><br>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="mobileGo" ng-click="submitEmail($index)">SUBMIT</button>
            </div>
          </div>
        </form>
        <br>
        <p class="submitted0" style="display:none;">Your email has been added to the list</p>
      </div>
    </div>
  </div>
  <div class="details ng-hide" ng-show="showHidden4">
    <div class="row">
      <div class="col-xs-8">
        <h1 class="ng-binding">CSE Established Companies Career Fair</h1>
        <p class="ng-binding">1:00PM Wednesday, October 25th, 2017 @ Paul G. Allen Center</p>
      </div>
      <div class="col-sm-4">
        <button class="go-dark" style="float:right; padding: 10px 15px 10px 15px;" ng-click="showHidden4 = !showHidden4">X</button>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-5">
        <h3><b>ABOUT</b></h3>
        <p class="ng-binding">The Industry Affiliate Recruting Fair is an annual career fair held by the Paul G. Allen school of Computer Science and Engineering. Industry Affiliates such as Qualtrics, RetailMeNot, and PayScale are invited to interact with students for full-time, new grad, and internship positions. CSE students only.</p>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h3><b>EVENT DETAILS</b></h3>
        <li class="ng-binding">Career Fair</li>
        <li class="ng-binding">Meet with Recruiters/Engineers</li>
        <li class="ng-binding">Free Swag</li>
      </div>
    </div>
    <a ng-click="showHidden4 = !showHidden4;showEmail4 = true">
      <div class="attend">
        <div class="row">
          <div class="col-sm-12">
            <center>
              <h1>ATTEND</h1>
            </center>
          </div>
        </div>
    </a>
    </div>
  </div>
</div>
